{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
        <section>
              <header class="container title_container">
                    <h1>новости компании</h1>
              </header>
                  <ul>
                      {% for item in page_context.object_list %}
                          <article class="clearfix">
                              <div class="photo_container">
                                  <div class="photo_inner">
                                      <div class="overlay"></div>
                                      <img src= "{{ item.author.image.url }}" alt="" />
                                  </div>
                              </div>
                              <div class="container news_text clearfix">
                                   <div class="desc">
                                          <header>
                                              <h1>{{ item.caption }}<span>автор   {{ item.author.name }}</span> </h1>
                                          </header>
                                          <div class="container">
                                              <div class="date">
                                                  <p>{{ item.event_date }}</p>
                                              </div>
                                              <a class="intro read_more" href="">
                                                  {% autoescape off %}
                                                      {{ item.preview }}
                                                  {% endautoescape %}
                                              </a>
                                          </div>
                                   </div>
                              </div>
                          </article>
                      {% endfor %}
                  </ul>
                  <div class="pagination">
                    <span class="step-links">
                        {% if page_context.has_previous %}
                            <a href=/company_news_item/{{ page_context.previous_page_number }}>previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_context.number }} of {{ page_context.paginator.num_pages }}
                        </span>

                        {% if page_context.has_next %}
                            <a href=/company_news_item/{{ page_context.next_page_number }}>next</a>
                        {% endif %}
                    </span>
                  </div>
        </section>
{% endblock content %}