<!--<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Новости компании</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/company_news.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body class="secondary">
    <div class="nav_wrapper">
        <nav class="main_menu clearfix">
            <a href="/" class="logo">
               <img src="css/img/logo_top_main.png" alt="" class="main" />
                <img src="css/img/logo_top_minor.png" alt="" class="minor" />
            </a>
            <ul class="menu_items" id="menu_items">
                {% for item in menu %}
                    <li data-menuanchor="products">
                        <a href="/#products">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="g_wrapper">
        <div class="section">
            <div class="deco_angle outer"></div>
            <div class="deco_angle inner"></div>
            <div class="back"></div>
        </div>
        <section>
              <header class="container title_container">
                    <h1>новости компании</h1>
              </header>
              {% block content %}
                  <ul>
                      {% for partner in page_context.object_list %}
                          <article class="clearfix">
                              <div class="photo_container">
                                  <div class="photo_inner">
                                      <div class="overlay"></div>
                                      <img src= {{ partner.author.image }} alt="" />
                                  </div>
                              </div>
                              <div class="container news_text clearfix">
                                   <div class="desc">
                                          <header>
                                              <h1>{{ partner.name }}<span>автор   {{ partner.event_date }}</span> </h1>
                                          </header>
                                          <div class="container">
                                              <div class="date">
                                                  <p>{{ partner.event_date }}</p>
                                              </div>
                                              <a class="intro read_more" href="">{{ partner.text|striptags }}</a>

                                          </div>
                                      </div>
                              </div>
                          </article>
                      {% endfor %}
                  </ul>
              {% endblock %}
        </section>
        <div class="push"></div>
    </div>
    <footer class="page_footer">
        <div class="container inner">© 2014, Компания ЗАО «Альт-Лан»</div>
    </footer>


    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>
</html>