{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="container">
	<header class="title_container">
		<div class="section_icon projects"></div>
		<ul class="slogan">
			<li>
				актуальность решений.
			</li>
			<li>
				комплексный подход.
			</li>
			<li>
				эффективность методов.
			</li>
		</ul>
		<h1>Проекты компании</h1>
		<div class="divider"></div>
		<div class="section_description">
			Tempor est lundium, ultrices? Ultrices. A et vut placerat, dapibus, vut elementum elementum cum, dolor mus ac urna, pulvinar et in eu, ac lacus vel aliquam sit, magna ultrices lacus. Lundium rhoncus massa urna diam etiam. Tortor aliquam urna porttitor, cras mauris platea dis, lorem et et scelerisque?
		</div>
	</header>
	 <div class="items_container">      	
      	<a href="" class="item">
      		<span class="item_img ">
      			<img src="/static/img/project_case_placeholder.png" alt="Проект один" />
      		</span>
      		<span class="item_name">Проект один</span>
      		<span class="item_description">Анонс к статье о проекте один.</span>
      	</a>
      	<a href="" class="item">
      		<span class="item_img ">
      			<img src="/static/img/project_case_placeholder.png" alt="Проект два" />
      		</span>
      		<span class="item_name">Проект два</span>
      		<span class="item_description">Анонс к статье о проекте два.</span>
      	</a>
      </div>
</section>
{% endblock content %}