{% load staticfiles %}
  <div class="push"></div>
    </div>
    <footer class="page_footer">
        <div class="container inner">© 2014, Компания ЗАО «Альт-Лан»</div>
    </footer>
   <script type="text/javascript" src="{% static "js/vendor/jquery-1.11.1.min.js" %}"></script>   
   <script type="text/javascript" src="{% static "js/plugins.js" %}"></script>
   <script type="text/javascript" src="{% static "js/vendor/jquery.easings.min.js" %}"></script>
   <script type="text/javascript" src="{% static "js/jquery.slicknav.custom.js" %}"></script>
   <script type="text/javascript" src="{% static "js/common.js" %}"></script> 
   